
<div class="container-fluid">
  <h4>About Me</h4>

  <p>Hi, I'm Ryan.  A short sidebar description goes here about me.  There's
  more I could write, but for now, this is what will be here.  I will add more
  later that is a more summarized version of the About page.</p>

  <h4>Recent Posts</h4>
  <ul>
    {% for post in site.posts limit: 5 %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>

  <!--
  <h4>Left Sidebar</h4>
  <ul class="nav nav-tabs nav-stacked">
    <li><a href='#'>Another Link 1</a></li>
    <li><a href='#'>Another Link 2</a></li>
    <li><a href='#'>Another Link 3</a></li>
  </ul>
  -->
</div>
